.grid-container {
    display: grid;
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    grid-gap: 50px 100px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    background-color:lightskyblue;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
   height:auto;
  }
  nav.navbar{
    display: block;
    color:gray;
    text-align: center;
    padding: 10px 10px;
    text-decoration: brown;
    font-size: 25px;
    background: #070000;      
    background: -webkit-linear-gradient(to right, #070000, #4C0001, #070000);      
    background: linear-gradient(to right, #070000, #4C0001, #070000);

  }
  /* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
.btn{
  background-color: darkslategray;
  padding: 20px 25px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}
  